@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

:root {
  --main-font: "Rowdies", cursive;
  --main-color: red;
  --main-picked-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

.title {
  display: flex;
  font-family: var(--main-font);
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
}

@keyframes titleBluring {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}

h1 {
  font-size: 3rem;
}

.blur {
  animation: titleBluring 1s ease-in-out;
}

h2 {
  background-color: var(--main-color);
  width: 200px;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
}

.again {
  font-family: var(--main-font);
  border: none;
  background: var(--main-color);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 1rem;
}

.again:hover {
  color: var(--main-picked-color);
}

.container {
  display: grid;
  grid-template-rows: 400px 400px 400px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.picker {
  /* z-index: 1; */
  font-family: var(--main-font);
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 2rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}

.picker:hover {
  color: var(--main-picked-color);
  background-color: var(--main-color);
}

.picked {
  background: var(--main-color);
  color: var(--main-picked-color);
}
