* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

h2 {
    position:absolute;
    color:black;
}

.dino {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom:0px;
}

.obstacle {
    position:absolute;
    width: 60px;
    height: 60px;
    background: orange;
    bottom : 0px;
}

/* T-Rex */

svg {
    fill: #535353;
  }
  
  [id=L],
  [id=R] {
    animation: leg 2s infinite steps(2);
  }
  
  [id=R] {
    animation-delay: -1s;
  }
  
  @keyframes leg {
    to {
      transform: translateY(-10%);
    }
  }
  svg {
    max-width: 60vmin;
  }